/*@media screen and (max-width: 1024px)*/
body {
  position: relative;
}
body {
  height: 100%;
  background: #F5F5F5;
  color: #5B5B5B;
  font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  z-index: 30;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #c1c1c1;
}

body:not(.sidebar-hover) .sidebar {
  display: none;
}
.fixed-sidebar .sidebar {
  position: fixed;
  right: auto;
  left: 0;
  bottom: 0;
  z-index: 202;
}
.sidebar {
  background-color: #b80005;
  left: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 240px;
  z-index: 100;
}
ul, li, input, .input-group, p, label, div, section, textarea {
  float: none;
  text-align: left;
}
div, p, span {
  text-align: left;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
ul, li, input, .input-group, p, label, div, section, textarea {
  float: none;
  text-align: left;
}

.theme-sdtl.color-default:not(.sidebar-top) .logopanel {
  background: #b80005;
}
.theme-sdtl.color-default:not(.sidebar-top) .logopanel {
  background: #b80005;
}
.sidebar .logopanel {
  background: #202226;
  height: 50px;
  left: 0;
  padding: 5px 5px 5px 20px;
  position: fixed;
  right: auto;
  top: 0;
  width: 240px;
  z-index: 2;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
ul, li, input, .input-group, p, label, div, section, textarea {
  float: none;
  text-align: left;
}
div, p, span {
  text-align: left;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

.theme-sdtl.color-default .sidebar .sidebar-inner {
  background: #C22E32;
}
.sidebar .sidebar-inner {
  background-color: #2b2e33;
  height: 100%;
  padding: 0;
  z-index: 2;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul, li, input, .input-group, p, label, div, section, textarea {
  float: none;
  text-align: left;
}
div, p, span {
  text-align: left;
}

.sidebar .sidebar-inner .nav-sidebar {
  margin-bottom: 30px;
}